# Environment variables
.env
*.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
